$color-7e5e4c: #7e5e4c;
$color-e1b87f: #e1b87f;
$color-fce3ab: #fce3ab;
$color-ffa73e: #ffa73e;
$color-ac8047: #ac8047;
$color-4e3629: #4e3629;
$color-cc5d5d: #cc5d5d;
$color-ffa7e3: #ffa7e3;
$color-ffffff: #ffffff;
$color-efefef: #efefef;
$color-4c5264: #4c5264;
$color-f9423a: #f9423a;
