// ANCHOR Land
.home-landing {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: $color-7e5e4c;
}

.home-landing__content {
  height: 100vh;
  width: 100vw;
  background-image: url("../images/home_page/blob-shape.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  @include screen-md {
    background-size: contain;
  }
}

.home-landing__slogan {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.home-landing__slogan .title {
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: $color-ffffff;
  font-size: 2.5rem;
  letter-spacing: 4.9px;
  text-align: center;
  @include screen-md {
    font-size: 3rem;
  }
}

.home-landing__slogan .desc {
  color: $color-ffffff;
  font-size: 1.25rem;
  letter-spacing: 2.7px;
  line-height: 2;
  text-align: center;
  font-weight: 100;
}

.home-landing__flow {
  position: absolute;
  bottom: 0;
  z-index: 10;
}

// ANCHOR Introduction

.home-introduction {
  width: 100vw;
  height: 20rem;
  background-color: $color-fce3ab;
  display: flex;
  justify-content: center;
  align-items: center;
  @include screen-md {
    height: 30rem;
  }
}

.home-introduction .content {
  color: $color-7e5e4c;
  letter-spacing: 1.3px;
  text-justify: auto;
  line-height: 2;
  font-size: 0.875rem;
  width: 80%;
  @include screen-md {
    font-size: 1.25rem;
    letter-spacing: 2px;
    width: 50%;
  }
}

// ANCHOR Company Target

.home-company {
  width: 100vw;
  min-height: 30rem;
  background-color: $color-7e5e4c;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 15%;
  padding-bottom: 15%;
  @include screen-md {
    min-height: 50rem;
  }
}
.home-company .block {
  width: 80%;
  @include screen-md {
    width: 50%;
  }
}

.home-company .block .title {
  color: $color-ffa73e;
  text-align: left;
  font-size: 1rem;
  letter-spacing: 1.5px;
  @include screen-md {
    font-size: 1.25rem;
  }
}

.home-company .block .content {
  color: $color-fce3ab;
  letter-spacing: 1.3px;
  line-height: 1.5;
  padding-top: 1rem;
  font-weight: 300;
  font-size: 0.875rem;

  @include screen-md {
    font-size: 1.25rem;
  }
}

.home-company .block .avatar {
  width: 100%;
  display: flow-root;
  padding: 5%;
}

.home-company .block .avatar .icon {
  float: right;
  width: 5rem;
  height: 5rem;
  @include screen-md {
    width: 10rem;
    height: 10rem;
  }
}
