.logo-container {
  max-width: $max-content-width;
  margin: auto;
  width: 100%;
  min-height: 10rem;
  padding-top: 10rem;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 5%;
}

.logo-block {
  border: 1px solid $color-4c5264;
  width: 100%;
  max-width: $max-content-width;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-img01 {
  padding: 1rem 2rem;
  height: 5rem;
}

.logo-img02 {
  padding: 0.5rem;
  height: 20rem;
  width: 100%;
  object-fit: cover;
}

.logo-img03 {
  padding: 1rem 2rem;
  height: 5rem;
}

.logo-img04 {
  padding: 0.5rem;
  height: 10rem;
  width: 100%;
  object-fit: cover;
}

.logo-h2 {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 1.75rem;
  color: $color-4c5264;
  letter-spacing: 1.25px;
  font-weight: 900;
}

.logo-h3 {
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: $color-4c5264;
  font-size: 1rem;
  font-weight: 700;
}

.logo-p {
  color: $color-4c5264;
  letter-spacing: 1.3px;
  font-size: 0.875rem;
  line-height: 2;
}
