.footer {
  border-top: 2px solid $color-fce3ab;
  background-color: $color-7e5e4c;
  @include screen-md {
  }
  display: flex;
  flex-direction: column;
  width: 100vw;
}

.footer__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
  @include screen-md {
    height: 5rem;
  }
}

.footer__logo .icon {
  height: 2rem;
  @include screen-md {
    height: 3rem;
  }
}

.footer__copyright {
  height: 2rem;
  color: $color-ffffff;
  text-align: center;
  font-weight: 100;
  font-size: 0.75rem;
}
