.header {
  position: fixed;
  width: 100vw;
  padding-top: 3rem;
  z-index: 100;
}

.header__content {
  margin: 0 auto;
  max-width: $max-content-width;
  width: 100%;
  display: flow-root;
  height: 0px;
}

.header__logo {
  float: left;
}

.header__logo__icon {
  width: 10rem;
  height: 3rem;
  background-color: black;
}

.header__logo__slogan {
  color: $color-ffffff;
  font: normal normal 300 20px/40px PingFang TC;
  text-align: left;
  letter-spacing: 4px;
}

.header__menu {
  float: right;
}

.header__menu__icon {
  width: 3rem;
  height: 3rem;
  background-color: black;
}

.header__menu__slogan {
  color: $color-ffffff;
  font-size: 1.5rem;
  font: normal normal 300 20px/29px PingFang TC;

  letter-spacing: 2.8px;
  writing-mode: vertical-lr;
  line-height: 3rem;
  padding-top: 1rem;
}
