.h1 {
  color: $color-4c5264;
  font-size: 4rem;
  font-weight: bold;
}

.h4 {
  color: $color-4c5264;
  font-size: 1.5rem;
  font-weight: bold;
}

.p {
  color: $color-4c5264;
  line-height: 1.5;
}


